<div class = "newBlogPost">
  <h2>{{mode}} Blog Post</h2>
  <form [formGroup]="blogForm" (ngSubmit)="onSubmit()">
    
      <mat-form-field appearance="outline">
        <input matInput [matDatepicker]="blogDatePicker" placeholder="Blog Date" formControlName="blogDate" required>
        <mat-datepicker-toggle matSuffix [for]="blogDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #blogDatePicker></mat-datepicker>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <input formControlName="blogAuthor" matInput placeholder="Blog Author" required>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <input formControlName="blogTopic" matInput placeholder="Blog Topic" required>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <textarea formControlName="blogContent" matInput placeholder="Blog Content" cols="8" rows="20" required></textarea>
      </mat-form-field>
      <br>
      <p>
        <button class="button" type="submit" mat-raised-button (click)="momentDateConverter()"> Submit</button>
      </p>
      <p>
        <button class="button" type="reset" (click)="resetForm()" mat-raised-button> Reset</button>
      </p>
</form>
  </div>